.cart {
  background-color: #b2a17a;
  min-height: 400px; /*ВРЕМЕННО*/
  /* background-color: floralwhite; */
}

.cart h3 {
  text-align: center;
  color: #2e2e2e;
  margin: 0;
  padding: 15px;
}

.cart button {
  cursor: pointer;
  margin: 3px;
  width: 40px;
  height: 40px;
}