.catalog {
  background-color: #fff;
}

@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }
}

@media (min-width: 1200px) {
  .catalog {
    grid-template-columns: 25% 75%;
  }
}
