.catalog {
  background-color: white;
}

@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto 1fr;
  }
}

@media (min-width: 1200px) {

}