.catalog {
  background-color: #fff;
  height: 100vh;
}

@media (min-width: 768px) {
  .catalog {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto 1fr;
  }
}

@media (min-width: 1200px) {
  .catalog {
    grid-template-columns: 25% 75%;
  }
}