.search {
  width: 80%;
  position: sticky;
  top: 15px;
  margin: auto;
}

.search_field {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 15px;
  opacity: 0.5;
  padding: 5px;
}

.search_field:focus {
  opacity: 1;
}

@media (min-width: 768px) { 
  .search {
    grid-column: 2/3;
  }
}