.product_card {
  border: 1px solid lightgrey;
  padding-top: 5px;
  background-color: #fdfdfd;
  text-align: center;
  width: 280px;
  margin-bottom: 15px;
  border-radius: 10px;

  position: relative;
}

.product_card:hover {
  box-shadow: 0 0 10px 3px #aeb2ba;
}

.product_card:hover .card_presentation {
  display: none;
}

.product_card:hover .card_options {
  display: block;
}

.product_card a {
  color: inherit;
}

.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url(../../../img/icons/new-flag.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.card_presentation {
  width: 270px;
  height: 270px;
  margin: 0 auto;
}

.card_presentation img {
  width: 270px;
  height: 270px;
  object-fit: contain;
}

.card_options {
  position: relative;
  display: none;
  margin: 0 auto;
  width: 270px;
  height: 270px;
}

.card_options::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  bottom: 0;
  left: calc(50% - (150px / 2));
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../img/icons/eye-close-150.png);
}

.card_options:hover::after {
  background-image: url(../../../img/icons/eye-open-150.png);
}

.card_options a {
  font-size: 42px;
  color: transparent;
  background-clip: text;
	background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, violet);
}

.card_options a:hover {
  animation: rainbowOverflow 3s infinite ease-in-out;
}

@keyframes rainbowOverflow { 
  from {filter: hue-rotate(0deg);}  
  to {filter: hue-rotate(360deg);}
}

.product_name {
  width: 90%;
  margin: 5px auto;
}