.search {
  width: 50%;
  position: sticky;
  top: 15px;
  margin: 15px auto 0;
  z-index: 1;
}

.search_field {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgrey;
  border-radius: 15px;
  opacity: 0.5;
  padding: 10px 25px 10px;
  text-align: center;
  line-height: 40px;
}

.search_field:focus {
  opacity: 1;
}

@media (min-width: 768px) { 
  .search {
    grid-column: 2/3;
  }
}