.about {
  color: #2e2e2e;
  background-color: #b2a17a;
}

.about_us {
  padding: 20px;
}

.about h2 {
  margin: 0;
  border-bottom: 3px solid #2e2e2e;
	padding-right: 15px;
	padding-left: 15px;
  font-size: 1.5em;
	margin-left: 50%;
}

.about p {
  text-indent: 30px;
	line-height: 1.5;
}

.about figure {
  background-color: burlywood;
}

/* ---------- */

.answer {
  padding: 20px;
}

@media (min-width: 768px) {
  .about_us {
    background-image: url(../../img/scroll_1920.png);
    background-size: cover;
    background-position: center;
    padding: 40px;
  }

  .sorcerer {
    float: right;
  }

  .archer {
    float: left;
  }
}

@media (min-width: 1200px) {

}