.product_heading {
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #2e2e2e;
  color: #b2a17a;
}

.product_container {
  background-color: #2e2e2e;
  padding-bottom: 30px;
}

.product_photo {
  margin: 0 auto;
}

.product_photo img {
  margin: 0 auto;
  display: block;
}

.product_container dl {
  margin: 0 auto 15px;
  padding: 15px 0 15px;
  /* width: 320px; */
  background-color: #2e2e2e;
  color: #b2a17a;
}

.product_container dt {
  float: left;
  padding-left: 10px;
  text-align: right;
  width: 100px;
}

.product_container dd {
  margin-left: 150px;
  text-align: left;
}

.product_container dd:not(:first-of-type) {
  text-transform: lowercase;
}

.product_container dd:not(:last-child) {
  margin-bottom: 10px;
}

.crafter {
  color: #fff;
}

.crafter:hover {
  color: #b2a17a;
}

.size_chooser {
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  padding: 0;
}

.size_chooser:hover {
  color: #b2a17a;
}

.selected_size {
  text-decoration: underline;
}

.quantity_chooser {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.quantity_chooser button {
  background-color: #b2a17a;
  width: 26px;
  height: 26px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-position: center;
  background-repeat: no-repeat;
}

.quantity_chooser button:disabled {
  opacity: 0.5;
}

.subtract {
  background-image: url(../../img/icons/minus_24dp.svg);
}

.add {
  background-image: url(../../img/icons/plus_24dp.svg);
}

.product_container sup {
  font-size: 28px;
  color: #fff;
  cursor: help;
}

@media (min-width: 768px) {
  .product_container dl {
    width: 100%;
    max-width: 800px;
    padding: 10px;
  }
}

@media (min-width: 1200px) { 
  .product_container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 51px;
  }

  .product_photo {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}
