.button {
  display: block;
	font: inherit;
  text-align: center;
  text-transform: lowercase;
	border: none;
	cursor: pointer;
	letter-spacing: 2px;
	padding: 12px 12px;
  margin: 0 auto;
	border-radius: 15px;
	min-width: 180px;
	color: #2e2e2e;
	background-color: #b2a17a;
}

.button:hover {
	filter: saturate(150%);
}

.button:active {
  background: radial-gradient(ellipse farthest-corner at 50% 50%, #fdeaa8, #777);
}

.button:focus {
  outline: none;
	box-shadow: 0 0 5px 3px #ff000050;
}

.button:disabled {
  opacity: 0.3;
	background-color: #e5e5e5;
  cursor: not-allowed;
}
