.footer {
  background-color: #b2a17a;
  color: #2e2e2e;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  text-shadow: 1px 1px 1px black, 0 0 2px darkviolet;
}

.footer a:active {
  text-shadow: 1px 1px 1px black, 0 0 15px darkviolet;
}

.active_item {
  border-bottom: 3px solid darkviolet;
}

.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.contacts {
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.contacts > * {
  margin-right: 10px;
  min-width: 200px;
}

.social_list {
  list-style: none;
  margin: 0;
  margin-left: -7px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social_item {
  width: 36px;
  height: 36px;
  display: block;
  background-color: #2e2e2e;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 3px 0;
}

.social_item:hover {
  background-color: #000;
}

.social_item__vk {
  background-image: url(../../img/icons/icon-vk.svg);
}

.social_item__fb {
  background-image: url(../../img/icons/icon-fb.svg);
}

.social_item__inst {
  background-image: url(../../img/icons/icon-insta.svg);
}

.payment_header {
  text-align: center;
  font-size: 18px;  
}

.pay {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.pay_systems {
  width: 46px;
  height: 28px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-image: url(../../img/icons/footer-sprite.png);
}

.pay_systems__paypal {
  background-position: -2px -6px;
}

.pay_systems__mastercard {
  background-position: -54px -8px;
}

.pay_systems__visa {
  background-position: -104px -8px;
}

.pay_systems__yandex {
  background-position: -154px -8px;
}

.pay_systems__webmoney {
  background-position: -2px -46px;
}

.pay_systems__qiwi {
  background-position: -52px -46px;
}

.copyright {
  text-align: center;
}

.not_mobile {
  display: none;
}

@media (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .nav_list {
    text-align: center;
    flex-direction: column;
  }

  .nav_item {
    margin: 10px;
  }

  .contacts {
    display: block;
  }

  .not_mobile {
    display: block;
  }
}

@media (min-width: 1200px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
  }
}