.pay {
  display: flex;
}

.pay_systems {
  width: 46px;
  height: 28px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-image: url("../../img/footer-sprite.png");
}

.pay_systems__paypal {
  background-position: -2px -6px;
}

.pay_systems__mastercard {
  background-position: -54px -8px;
}

.pay_systems__visa {
  background-position: -104px -8px;
}

.pay_systems__yandex {
  background-position: -154px -8px;
}

.pay_systems__webmoney {
  background-position: -2px -46px;
}

.pay_systems__qiwi {
  background-position: -52px -46px;
}

.social_links {
  margin-top: 10px;
}

.social_link {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("../../img/footer-sprite.png");
  cursor: pointer;
}

.social_link__twitter {
  background-position: -107px -42px;
}

.social_link__vk {
  background-position: -157px -42px;
}
