.footerPay {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0;
	width: 400px;
	border: 1px solid red;
}

.footerPaySystems {
  width: 46px;
  height: 28px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-image: url("../../img/footer-sprite.png");
}

.footerPaySystems:not(:first-child) {
  margin-left: 5px;
}

.footerPaySystemsPaypal {
  background-position: -2px -6px;
}

.footerPaySystemsMasterCard {
  background-position: -54px -8px;
}

.footerPaySystemsVisa {
  background-position: -104px -8px;
}

.footerPaySystemsYandex {
  background-position: -154px -8px;
}

.footerPaySystemsWebmoney {
  background-position: -2px -46px;
}

.footerPaySystemsQiwi {
  background-position: -52px -46px;
}

.footerSocialLinks {
  margin-top: 10px;
}

.footerSocialLink {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: url("../../img/footer-sprite.png");
}

.footerSocialLinkTwitter {
  background-position: -107px -42px;
}

.footerSocialLinkVk {
  background-position: -157px -42px;
}

.footerSocialLink:hover {
  cursor: pointer;
}
