/*
@font-face {
	font-family: "PT Sans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
  
@font-face {
	font-family: "PT Sans";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  body {
    background-image: url(./img/textile-2918844_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* image-rendering: pixelated; */
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: middle;
	font: inherit;
  text-align: center;
  text-transform: uppercase;
	border: none;
	cursor: pointer;
	letter-spacing: 2px;

	padding: 20px 20px;
	border-radius: 3px;
	min-width: 200px;
	color: #ffffff;
	background-color: #000000;
}

.button:hover {
	opacity: 0.5;
}

.button:active {
	opacity: 1;
  transform: translateY(1px);
  filter: saturate(150%);
}

.button:focus {
	outline: 1px dotted black;
}

.button:disabled {
	background-color: #e5e5e5;
}
