@font-face {
	font-family: "Newerwinter";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  src: url("./fonts/newerwinter_font.woff2") format("woff2"), url("./fonts/newerwinter_font.woff") format("woff");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Newerwinter", "Luminari", fantasy;
  font-size: 24px;
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    background-image: url(./img/pattern-728509.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /*
    border-style: solid;
    border-width: 10px;
    border-image: url(./img/ornament.png) 30 round round;
    */
    box-shadow: 1px 1px 15px 3px #ff2211aa;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  vertical-align: middle;
	font: inherit;
  text-align: center;
  text-transform: uppercase;
	border: none;
	cursor: pointer;
	letter-spacing: 2px;

	padding: 20px 20px;
	border-radius: 3px;
	min-width: 200px;
	color: #ffffff;
	background-color: #000000;
}

.button:hover {
	opacity: 0.5;
}

.button:active {
	opacity: 1;
  transform: translateY(1px);
  filter: saturate(150%);
}

.button:focus {
	outline: 1px dotted black;
}

.button:disabled {
	background-color: #e5e5e5;
}
