@font-face {
	font-family: "Newerwinter";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  src: url("./fonts/newerwinter_font.woff2") format("woff2"),
  url("./fonts/newerwinter_font.woff") format("woff");
}

@font-face {
	font-family: "BalsamiqSans-Regular";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
  src: url("./fonts/BalsamiqSans-Regular.woff2") format("woff2"),
  url("./fonts/BalsamiqSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "BalsamiqSans-Bold";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
  src: url("./fonts/BalsamiqSans-Bold.woff2") format("woff2"),
  url("./fonts/BalsamiqSans-Bold.woff") format("woff");
}

/*
font-family: 'BalsamiqSans-Bold';
font-family: 'BalsamiqSans-BoldItalic';
font-family: 'BalsamiqSans-Italic';
font-family: 'BalsamiqSans-Regular';
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Newerwinter", "Luminari", fantasy;
  font-size: 24px;
  margin: 0 auto;
  min-width: 320px;
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    background-image: url(./img/pattern-728509.svg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 10px 7px #9400d333;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

a:focus,
button:focus,
input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px 3px #ff000050;
}